{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    {# Usiamo le classi native di EasyAdmin per il contenuto principale #}
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow-sm border-0">
                        <div class="card-body p-4">
                            <h2 class="h4 mb-4" style="color: #333; font-weight: 600;">Order Rate</h2>
                            
                            {# Il trucco è dare un'altezza fissa ma larghezza automatica #}
                            <div style="height: 450px; width: 100%; position: relative;">
                                {{ render_chart(chart) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
